NEXT_PUBLIC_API_BASE_URL=<envireonment-base-api-url>
NEXT_PUBLIC_TEAMS_WEBHOOK_URL='<teams-webhook-url>'
NEXT_PUBLIC_APP_NAME=<app-name>
NEXT_PUBLIC_ENVIRONMENT=<environment-name>
NEXT_PUBLIC_CRAWLER_BASE_API=<crawler-name>
NEXT_PUBLIC_CRAWLER_API_KEY=<crawler-key>
NEXT_PUBLIC_ANALYTICS_API_KEY=<analytics-key>